<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RedisClient</title>

    <!-- Photon.css -->
    <link rel="stylesheet" href="../../../assets/photon-0.1.2/dist/css/photon.min.css">

    <style>
      .window {
        border-radius: 6px;
        overflow: hidden;
      }
      .sidebar {
        background-color: #f5f5f4;
      }
    </style>
    <script src="../../../assets/js/vue.min.js"></script>
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header" style="-webkit-app-region: drag">
        <h1 class="title">RedisClient</h1>

        <div class="toolbar-actions">
          <button class="btn btn-default" id="new-connection">
            <span class="icon icon-home icon-text"></span>
            新建连接
          </button>
          <div class="btn-group pull-right">
            <button class="btn btn-default" id="icon-plus-circled">
              <span class="icon icon-plus-circled"></span>
            </button>
            <button class="btn btn-default" id="icon-minus-circled">
              <span class="icon icon-minus-circled"></span>
            </button>
            <button class="btn btn-default" id="icon-cancel-circled">
              <span class="icon icon-cancel-circled"></span>
            </button>
          </div>
        </div>
      </header>
      <div class="window-content">
        <div class="pane">
          <div class="pane-group" id="todo-list">
            <div class="pane-min sidebar">
              <nav class="nav-group">
                <h5 class="nav-group-title">连接列表</h5>
                <tree-item>
                  <tree v-for="todo in nodes">
                    <span class="nav-group-item" @contextmenu.prevent="showDeleteDialog(todo.connstr)" v-on:click="changeDb(todo.connstr)">
                      <span class="icon icon-link" v-bind:id="todo.connstr"></span>
                      {{todo.name}}
                    </span>
                  </tree>
                </tree-item>
              </nav>
            </div>
            <div class="pane-min">
              <table class="table-striped">
                <thead>
                  <tr>
                    <th>
                      Databases
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="blue">
                    <td v-on:click="changeDbNumber(0)">DB 0</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(1)">DB 1</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(2)">DB 2</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(3)">DB 3</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(4)">DB 4</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(5)">DB 5</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(6)">DB 6</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(7)">DB 7</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(8)">DB 8</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(9)">DB 9</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(10)">DB 10</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(11)">DB 11</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(12)">DB 12</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(13)">DB 13</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(14)">DB 14</td>
                  </tr>
                  <tr>
                    <td v-on:click="changeDbNumber(15)">DB 15</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pane-min">
              <table class="table-striped">
                <thead>
                  <tr>
                    <th>
                      Keys
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>bars.scss</td>
                  </tr>
                  <tr>
                    <td>base.scss</td>
                  </tr>
                  <tr>
                    <td>button-groups.scss</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pane">
              <div class="pane">
                <table class="table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Kind</th>
                      <th>Date Modified</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>bars.scss</td>
                      <td>Document</td>
                      <td>Oct 13, 2015</td>
                    </tr>
                    <tr>
                      <td>bars.scss</td>
                      <td>Document</td>
                      <td>Oct 13, 2015</td>
                    </tr>
                    <tr>
                      <td>bars.scss</td>
                      <td>Document</td>
                      <td>Oct 13, 2015</td>
                    </tr>
                    <tr>
                      <td>bars.scss</td>
                      <td>Document</td>
                      <td>Oct 13, 2015</td>
                    </tr>
                    <tr>
                      <td>bars.scss</td>
                      <td>Document</td>
                      <td>Oct 13, 2015</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script>
    require('../native-ui/connection')
  </script>
  </body>
</html>
